@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    overflow-x: hidden;
    overflow-y: hidden;

    background: linear-gradient(192deg, #ff687e, #fff, #ff687e);
    background-size: 600% 600%;

}

@keyframes button-animation {
    0%{background-position:51% 0%}
    50%{background-position:50% 75%}
    100%{background-position:75% 100%}
}